
<ion-header>
  <ion-toolbar>
    <ion-title>List User</ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="isLoading==true">
  Loading...
</div>
<div *ngIf="isLoading==false">
  <ion-list>
    <div *ngFor="let user of users">
      <ion-list-header>
        <ion-label>
          Firstname : {{ user.firstname}}
        </ion-label>
      </ion-list-header>
      <ion-item lines="full">
        <ion-label color="primary">
          Latname : {{user.lastname}}
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</div>
